<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Portfolio</title>
</head>
<body>
<h1>Home</h1>
<p>Welcome to my rocking portfolio &#128640;</p>
<p>My name is Elijah Cannon and I am a senior at Weber State University studying computer science :) Please check out my hobbies and also the cool projects I have been working on.</p>
</body>
</html>